#audio-title {
  color: #261000;
}

#audio-subtitle {
  color: #261000;
}

#podcast-index-info-container {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s, backdrop-filter 0.3s;
}

.profile-container:hover {
  cursor: pointer;

  #podcast-index-info-container {
    background-color: rgba(113, 113, 113, 0.103);
    backdrop-filter: blur(10px);
  }
}

#audio-content-container-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200vw;
  object-fit: cover;
  object-position: center;
}

#podcast-index-title {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2rem;
}

#podcast-index-job {
  color: #000000c5;
  font-size: 1.25rem;
  font-weight: 500;
}

@media (min-width: 1000px) {

}
