html, body {
  overflow-x: hidden;
}

.dream-room-article-container {
  width: 100vw;
}

.dream-room-bg {
  height: 300vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  z-index: -5;
}

#day-in-my-life-bg {
  height: 300vh;
}

.dream-room-article-content {
  width: 100%;
  position: relative;
  backdrop-filter: blur(3px) brightness(80%);
  padding: 0 0 100px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.padding-enforcer {
  padding: 0 20px;
}

.article-title-section {
  width: 100%;
  height: 70vh;
  min-height: 70vh;
  max-height: 70vh;
  position: relative;
  margin-bottom: 70px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dream-room-title {
  position: absolute;
  opacity: 0;
  top: 8%;
  left: 6%;
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: 25px;
  color: #fff;
  z-index: 2;
}

.title-line-1 {
  min-height: 0;
  min-width: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.title-line-2 {
  min-height: 1px;
  min-width: 0;
  z-index: 2;
  background-color: #fff;
  position: absolute;
  bottom: 10%;
  right: 4%;
}

.dream-room-subtitle {
  color: #fff;
  font-size: 0.7rem;
  font-weight: 400;
  position: absolute;
  bottom: 12%;
  right: 7%;
  z-index: 2;
  opacity: 0;
}

.article-intro-image {
  height: 50%;
  width: 70%;
  opacity: 0;
  border: solid 3px #fff;
  z-index: 0;
}

.article-image-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.title-circle-1 {
  min-height: 200px;
  max-height: 200px;
  min-width: 200px;
  max-width: 200px;
  position: absolute;
  top: 8%;
  left: -5%;
  border-radius: 50%;
  background-color: #56565652;
  backdrop-filter: blur(10px);
}

.title-rectangle-1 {
  min-height: 150px;
  max-height: 150px;
  min-width: 240px;
  max-width: 240px;
  position: absolute;
  bottom: 5%;
  right: 5%;
  border-radius: 8px;
  background-color: #56565652;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.dream-room-profile, .zak-heath-young {
  height: 100%;
  width: 80%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dream-room-paragraph-text {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 25px;
  color: #fff;
}

.dream-room-transition-container {
  width: 100%;
  padding: 50px 0 75px;
  position: relative;
}

.dream-room-transition-container img {
  border-radius: 8px;
}

#second-transition-container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  margin-bottom: 75px;
}

.key-quote-1 {
  opacity: 0;
  position: absolute;
  top: 15%;
  right: -15%;
  font-size: 1.75rem;
}

#doai-1 {
  font-size: 1.5rem;
}

.key-quote-2 {
  opacity: 1;
  position: absolute;
  right: 50%;
  bottom: 10%;
  transform: translate(-50%, -10%);
  /* width: 100%; */
}

#doai-2 {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 300;
  color: #fff;
  font-family: 'Playfair';
  position: absolute;
  left: 50%;
  bottom: 12%;
  transform: translate(-50%, 12%);
  text-align: center;
  width: 80%;
}

.key-quote-text {
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
  color: #fff;
  font-family: 'Playfair';
}

.circle-shape-1 {
  transform: translateX(-50%);
  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
  max-width: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-shape-2 {
  min-height: 250px;
  min-width: 250px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  background-color: #e7e7e764;
  text-align: center;
}

.dream-room-line-1 {
  transform: translateX(-20%);
  width: 30%;
  min-height: 1px;
  min-width: 1px;
  background-color: #fff;
  position: absolute;
  top: 60%;
}

.dream-room-line-2 {
  min-height: 20px;
  min-width: 1px;
  max-width: 1px;
  background-color: #fff;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

#day-in-life-title-section {
  height: 50vh;
  padding: 20px;
  display: flex;
  align-items: center;

  h1 {
    color: #fff;
    font-weight: 300;
  }
}

.fctc-title-section {
  height: 50vh;
  width: 100%;
  /* padding: 20px; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fctc-title {
  color: #fff;
  font-weight: 300;
  font-size: 3rem;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(-20%);
}

.fctc-subtitle {
  color: #fff;
  font-size: 1.5rem;
  bottom: 26%;
  opacity: 0;
  transform: translateY(20%);
}

.fctc-line-1 {
  height: 1px;
  width: 10%;
  margin-bottom: 20px;
  background-color: #fff;
}

#fctc-trans-1, #first-image-trans, #fctc-trans-3, #fctc-trans-4 {
  min-height: 400px;
}

#first-image-trans, #fctc-trans-5 {
  padding: 0px 0 100px;
}

#fctc-trans-5 {
  height: 500px;
}

#fctc-quote-1 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;
  font-size: 1.5rem;
  text-align: center;
  box-sizing: border-box;
}

#fctc-quote-2 {
  position: absolute;
  top: 18%;
  left: 5%;
  transform: translate(-10%, -18%);
  text-align: center;
  box-sizing: border-box;
  width: 200px;
  opacity: 0;
}

#fctc-quote-text-2 {
  font-size: 1.5rem;
}

.fctc-circle-2, .fctc-circle-3 {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.fctc-circle-2 {
  top: 50%;
  right: -50%;
  transform: translate(-50%, -50%);
}

.fctc-circle-3 {
  top: 50%;
  left: -50%;
  transform: translate(50%, -50%);
}

.fctc-line-2 {
  position: absolute;
  left: 50%;
  top: 55%;
  height: 10px;
  width: 1px;
  background-color: #fff;
  transform: translate(-50%, -55%);
  transform-origin: top;
  z-index: 10;
}

.fctc-rectangle {
  height: 100px;
  width: 100px;
  top: 8%;
  left: 8%;
  border-radius: 8px;
  background-color: #56565652;
  backdrop-filter: blur(10px);
}

.fctc-circle {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 2%;
  right: 12%;
  border-radius: 50%;
  background-color: #56565652;
  backdrop-filter: blur(10px);
  z-index: 1;
}

.fctc-rectangle-1 {
  height: 150px;
  width: 110px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  position: absolute;
  top: 30%;
  right: 10%;
  transform: translate(10%, -30%);
}

.fctc-rectangle-2 {
  height: 300px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fctc-quote-3 {
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  opacity: 0;
}

#fctc-quote-text-3 {
  font-size: 2rem;
}

.fctc-line-3 {
  position: absolute;
  top: 50%;
  right: 0%;
  min-height: 1px;
  width: 10px;
  background-color: #fff;
  transform: translate(0%, -50%);
  transform-origin: right;
}

.day-in-life-title {
  font-size: 4rem;
  position: absolute;
}

.image-with-caption {
  width: 100%;
  text-align: center;

  p {
    color: #fff;
  }

  img {
    max-height: 300px;
    max-width: 100%;
  }
}

.image-caption {
  font-size: 1.125rem;
  font-family: 'Playfair';
  color: #fff;
  font-style: italic;
}

#zak-uncle-caption {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  text-wrap: nowrap;
}

#zak-and-lisa {
  max-height: 400px;
  width: 100%;
  z-index: 0;
}

.fctc-line-4 {
  position: absolute;
  left: 50%;
  top: 65%;
  height: 10px;
  width: 1px;
  background-color: #fff;
  transform: translate(-50%, -65%);
  transform-origin: top;
  z-index: 10;
}

#zak-lisa-caption {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -87%);
  text-wrap: nowrap;
}

@media (min-width: 800px) and (max-width: 1200px) {
  .dream-room-article-content {
    /* padding: 100px; */
  }

  .padding-enforcer {
    padding: 0 100px;
  }
}

@media (min-width: 1101px) {
  .dream-room-article-content {
    /* padding: 100px 0; */
  }

  .padding-enforcer {
    padding: 0 300px;
  }

  .article-title-section {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    margin-bottom: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dream-room-title {
    font-size: 4.5rem;
    margin-bottom: 50px;
    top: 10%;
    left: 14%;
  }

  .dream-room-subtitle {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    position: absolute;
    bottom: 15%;
    right: 13%;
    z-index: 2;
  }

  .article-intro-image {
    height: 79%;
    width: auto;
    opacity: 0;
    border: solid 3px #fff;
    z-index: 0;
  }

  .title-line-1 {
    min-height: 0;
    min-width: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 8%;
    left: 12%;
  }

  .title-line-2 {
    min-height: 1px;
    min-width: 0;
    z-index: 2;
    background-color: #fff;
    position: absolute;
    bottom: 14%;
    right: 5%;
  }

  .title-rectangle-1 {
    min-height: 270px;
    max-height: 270px;
    min-width: 410px;
    max-width: 410px;
    position: absolute;
    bottom: 5%;
    right: 12%;
    border-radius: 8px;
    background-color: #56565652;
    backdrop-filter: blur(10px);
    z-index: 1;
  }

  .title-circle-1 {
    min-height: 400px;
    max-height: 400px;
    min-width: 400px;
    max-width: 400px;
    position: absolute;
    top: 8%;
    left: 8%;
    border-radius: 50%;
    background-color: #56565652;
    backdrop-filter: blur(10px);
  }

  .article-image-container {
    height: 400px;
    width: 100%;
  }

  .dream-room-profile {
    width: 50%;
  }

  .circle-shape-1 {
    transform: translateX(-50%);
    min-height: 400px;
    min-width: 400px;
    max-height: 400px;
    max-width: 400px;
  }

  #doai-1 {
    font-size: 2.5rem;
  }


  .circle-shape-2 {
    min-height: 300px;
    min-width: 300px;
  }

  #doai-2 {
    font-size: 2.5rem;
    width: auto;
  }

  #first-image-trans {
    padding: 50px 0;
  }

  .image-with-caption {
    width: 50%;
  }

  .image-with-caption img {
    max-height: 500px;
  }

  .fctc-line-2 {
    position: absolute;
    left: 48%;
    top: 50%;
    height: 1px;
    width: 10px;
    transform-origin: left;
    background-color: #fff;
    transform: translate(-48%, -50%);
    /* transform-origin: top; */
    z-index: 10;
  }

  #zak-uncle-caption {
    font-size: 1.25rem !important;
    top: 50%;
    left: 60%;
    transform: translate(60%, -50%);
  }

  .fctc-circle-2, .fctc-circle-3 {
    height: 400px;
    width: 400px;
  }

  .fctc-line-3 {
    top: 70%;
    right: -5%;
    min-height: 1px;
    width: 10px;
    background-color: #fff;
    transform: translate(5%, -70%);
    transform-origin: right;
  }

  .fctc-rectangle-1 {
    height: 300px;
    width: 250px;
    top: 20%;
    right: 10%;
    transform: translate(10%, -20%);
  }

  #fctc-quote-2 {
    width: 400px;
    top: 22%;
    left: 10%;
    transform: translate(-10%, -22%);
  }

  #fctc-quote-text-2 {
    font-size: 2rem;
  }

  #fctc-quote-3 {
    bottom: 13%;
    left: 50%;
    transform: translate(-50%, -13%);
  }

  #fctc-trans-5 {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #zak-and-lisa {
    max-height: 500px;
    width: 50%;
  }

  .fctc-line-4 {
    position: static;
    height: 1px;
    width: 20px;
    background-color: #fff;
    transform-origin: right;
    transform: translateX(100px);
    z-index: 10;
  }

  #zak-lisa-caption {
    position: static;
    transform: translateX(-50px);
  }
}
