#services-title {
  color: #ffeadb;
  font-size: 5rem;
  font-weight: 300;
}

#services-subtitle {
  color: #ffeadb;
  font-size: 2rem;
  font-weight: 300;
}

#services-content-container-background {
  position: absolute;
  top: 0;
  height: 200vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

.services-content-scroll-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
}

.services-content-info {
  height: 150vh;
  width: 80%;
  background-color: rgba(255, 0, 0, 0.593);
}

.test-services {
  position: absolute;
  top: 0;
  height: 150vh;
  width: 90vw;
  background-color: rgba(255, 0, 0, 0.496);
}
