html, body {
  /* height: auto !important; */
  overflow-x: hidden;
}

.featured-article-container {
  width: 100vw;
  /* overflow-x: hidden; */
}

.featured-article-bg {
  height: 300vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  z-index: -5;
}

.featured-article-content {
  width: 100%;
  position: relative;
  backdrop-filter: blur(3px) brightness(95%);
  padding: 0 0 100px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.featured-title-section {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
  color: #000;
}

.title-image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  max-height: 400px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 10px;
  opacity: 0;
}

.featured-title-quote {
  font-family: 'Playfair';
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 2rem;
  opacity: 0;
}

.title-divider {
  height: 1px;
  width: 100%;
  margin-bottom: 10px;
  background-color: #000;
}

.featured-subtitle {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 20px;
  opacity: 0;
}

.featured-blurb {
  font-size: 1rem;
  font-weight: 300;
  opacity: 0;
}

.featured-article-text-section {
  padding: 0 20px;
  font-size: 1.125rem;
  margin-bottom: 20px;
}

.featured-article-paragraph {
  margin-bottom: 20px;
}

.featured-article-subheader {
  font-weight: 500;
  margin-bottom: 20px;
}

.featured-article-transition-container {
  height: 50vh;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.hide-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 8px;
  text-align: center;
}

#hide-container-1 {
  height: 0;
  width: 100%;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}

#hide-container-2 {
  height: 200px;
  width: 0;
  box-sizing: border-box;
  border-right: solid 1px #fff;
  border-left: solid 1px #fff;
}

#hide-container-3, #hide-container-4 {
  height: 0;
  width: 0;
}

#corner-frame-1::before,
#corner-frame-1::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
}

#corner-frame-1::before {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
  border-radius: 0 8px 0 0;
}

#corner-frame-1::after {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
  border-radius: 0 0 0 8px;
}

#corner-frame-2::before,
#corner-frame-2::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
}

#corner-frame-2::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
  border-radius: 8px 0 0 0;
}

#corner-frame-2::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
  border-radius: 0 0 8px 0;
}

.featured-key-quote {
  font-family: 'Playfair';
  font-weight: 300;
  font-size: 1.5rem;
  font-style: italic;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1000px) {
  .featured-title-section {
    padding: 100px 300px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .featured-title-quote {
    font-size: 3rem;
  }

  .featured-subtitle, .featured-blurb {
    font-size: 1.25rem;
  }

  .featured-article-text-section {
    padding: 0 300px;
  }

  .featured-article-subheader {
    font-size: 1.33rem;
  }

  .featured-article-paragraph {
    font-size: 1.25rem;
  }

  .title-image {
    width: 50%;
    min-height: 500px;
    margin-bottom: 20px;
  }

  .featured-key-quote {
    font-size: 2rem;
  }

  #hide-container-1 {
    width: 500px;
  }
}
