body-replacement {
  height: auto !important;
}

.beuty-icons-intervies-container {
  width: 100vw;
  position: relative;
  /* backdrop-filter: blur(3px); */
}

.beauty-icons-bg {
  height: 300vh;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  z-index: -5;
}

.beauty-icons-content-container {
  position: relative;
  /* height: 300vh; */
  width: 100%;
  top: 0;
  overflow-y: scroll;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 100px 20px;
  backdrop-filter: blur(3px) brightness(80%);
}

.beauty-icons-title-section {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  p {
    font-size: 2rem;
    font-family: 'Playfair';
    font-style: 'italic';
    line-height: 2rem;
    margin-right: 10px;
  }
}

.beauty-icons-index-title {
  font-size: 4rem;
  font-weight: 300;
}

.featured-interviews-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.featured-interviews-section:last-child {
  height: 50vh;
}

.beauty-icons-item {
  width: 50%;
}

.beauty-icons-item a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.name-container {
  text-align: center;
}

.name-container h3 {
  font-size: 1rem;
}

.name-container p {
  font-size: 1rem;
}

#icons-pfp-0 {
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
}

.beauty-icons-pfp {
  height: 96px;
  width: 96px;
  margin-bottom: 35px;
  border-radius: 50%;
  opacity: 1;
  object-fit: cover;
  object-position: center;
  border: solid 1px #fff;
  transition: transform 0.2s;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}


@media (min-width: 1000px) {
  .beauty-icons-content-container {
    padding: 0 100px 0;
  }

  .beauty-icons-title-section {
    height: 40vh;
    display: flex;
    align-items: center;
    margin: 0;

    div {
      display: flex;
      justify-content: center;
    }

    p {
      font-size: 2rem;
      font-family: 'Playfair';
      font-style: 'italic';
      line-height: 2rem;
      margin-right: 10px;
    }
  }

  .beauty-icons-index-title {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 300;
    margin: 0;
  }

  .beauty-icons-section {
    /* height: 80vh; */
  }

  .beauty-icons-item {
    width: 33%;
  }

  #icons-pfp-0 {
    height: 250px;
    width: 250px;
    margin-bottom: 20px;
  }

  .beauty-icons-pfp {
    height: 200px;
    width: 200px;
    margin-bottom: 60px;
  }

  .beauty-icons-pfp:hover {
    cursor: pointer;
    /* transform: scale(2); */
  }
}
