@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@keyframes pulse {
  0% {
    filter: drop-shadow(0 0 0px rgba(239, 250, 255, 1));
    fill: rgba(239, 250, 255, 0.01);
    stroke-width: 1px;
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(239, 250, 255, 1));
    fill: rgba(239, 250, 255, 0.2);
    stroke-width: 5px;
  }
  100% {
    filter: drop-shadow(0 0 0px rgba(239, 250, 255, 1));
    fill: rgba(239, 250, 255, 0.01);
    stroke-width: 1px;
  }
}

@keyframes pulseMobile {
  0% {
    filter: drop-shadow(0 0 0px rgba(239, 250, 255, 1));
    fill: rgba(239, 250, 255, 0.01);
    stroke-width: 1px;
  }
  50% {
    filter: drop-shadow(0 0 20px rgba(239, 250, 255, 1));
    fill: rgba(239, 250, 255, 0.2);
    stroke-width: 2px;
  }
  100% {
    filter: drop-shadow(0 0 0px rgba(239, 250, 255, 1));
    fill: rgba(239, 250, 255, 0.01);
    stroke-width: 1px;
  }
}

@keyframes draw-appear {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

body::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

/* body {
  min-width: 320px;
  min-height: 100%;
} */

img {
  object-fit: cover;
  object-position: center;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  font-family: 'Josefin Sans';
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: 'Josefin Sans';
}

a {
  text-decoration: none;
  color: inherit;
}

.title-container {
  top: 15%;
}

.page-title {
  font-size: 3.5rem;
  font-weight: 300;
}

.subtitle-container {
  top: 22%;
}

.page-subtitle {
  font-size: 1.75rem;
}

.scroll-container {
  height: 1000dvh;
  width: 100vw;
  position: relative;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  /* opacity: 0.5; */
}

.test-scroll {
  width: 100%;
  height: 1000vh;
  background-color: transparent;
  position: absolute;
  top: 0;
}

.initial-image-container {
  height: 100dvh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: sticky;
  top: 0;
  perspective: 1000px;
  overflow: hidden;
  z-index: 2;
}

.initial-image {
  height: 100%;
  width: 100%;
  transform-origin: center center;
  object-fit: cover;
  object-position: center;
  transform-style: preserve-3d;
}

.title-container, .subtitle-container {
  width: 100%;
  position: absolute;
  text-align: center;
  transform-style: preserve-3d;
  z-index: 10;
  color: #fff;
}

.subtitle-container {
  bottom: 20%;
}

#winter-test-image {
  height: 100%;
  width: 100%;
}

.svg-overlay-container {
  position: sticky;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  box-sizing: border-box;
  z-index: 1;
  perspective: 1000px;
}

.chevron-container {
  position: sticky;
  bottom: 10%;
  left: 50%;
  z-index: 100;
  opacity: 0;
}

polyline {
  animation: fadeInOut 3s linear infinite;
  animation-fill-mode: both;
}

polyline:nth-child(1) {
  animation-delay: 0ms;
}

polyline:nth-child(2) {
  animation-delay: 200ms;
}

polyline:nth-child(3) {
  animation-delay: 400ms;
}

#desktop-overlay {
  display: none;
}

.svg-overlay-container svg {
  height: 100%;
  width: 100%;
}

.object-outline {
  animation: pulseMobile 5s ease-in-out infinite;
}

/* .object-outline:hover {
  cursor: pointer;
} */

.info-box {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.info-box-title-text, .link-text {
  transition: opacity 0.2s;
}

#layer-interaction {
  cursor: pointer;
}

.object-outline {
  stroke: rgba(239, 250, 255, 1);
  stroke-width: 3px;
  fill: rgba(239, 250, 255, 0.25);
  filter: drop-shadow(0 0 10px rgba(239, 250, 255, 1)); /* Glow effect */
  transition: filter 1s ease fill 1s ease;
}

.pointer-line {
  display: none;
  stroke-dasharray: 1450;
  stroke-dashoffset: 1450;
  animation: draw-appear 1s ease-out forwards;
}

.svg-overlay-test {
  height: 100%;
  width: 100%;
  transform-origin: center center;
}

.further-info-container {
  backdrop-filter: blur(5px);
  position: absolute;
  border: solid 1px #ffeadb;
  border-radius: 8px;
  padding: 70px 30px;
  top: 50%;
  left: 50%;
  z-index: 10;
  opacity: 1;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  pointer-events: none;
}

.further-info-container h2, p {
  font-family: 'Josefin Sans';
  font-weight: 300;
  z-index: 10;
  transform-style: preserve-3d;
}

.further-info-container h2 {
  font-size: 1.75rem;
}

.further-info-container p {
  font-size: 0.85rem;
  font-weight: 800;
}

.test-circle {
  opacity: 0;
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 50%;
}

.test-circle:hover {
  cursor: pointer;
}

.content-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 20;
  /* opacity: 1; */
}

.content-container-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200vw;
  object-fit: cover;
  object-position: center;
}

.profile-container {
  width: 33vw;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  flex: 0 0 33vw;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.profile-scroll-container {
  height: 100%;
  width: 100%;
  padding-top: 200px;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  align-items: start;
  overflow-x: auto;
  overflow-y: hidden;
}

.profile-container {
  width: 100vw;
}

.profile-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.name-container {
  /* padding: 15px 20px;
  border-radius: 50px;
  background-color: #5b5b5b88; */
  font-size: 1.25rem;
  color: #fff !important;
}

.article-back-button {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  text-align: center;
  width: 100px;
  padding: 0px 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #8a8a8a;
  top: 20px;
  left: 20px;
  z-index: 10;
  border-radius: 50px;

  &:hover {
    cursor: pointer;
  }

  p {
    font-family: 'Josefin Sans';
    font-size: 1.15rem;
    margin-bottom: -2px;
    font-weight: 400;
  }
}

@media (min-width: 1000px) {
  .title-container {
    top: 10%;
  }

  .page-title {
    font-size: 4.5rem;
    font-weight: 300;
  }

  .subtitle-container {
    top: 20%;
  }

  .page-subtitle {
    font-size: 2rem;
  }

  #mobile-overlay {
    display: none;
  }

  #desktop-overlay {
    display: block;
  }

  #desktop-svg-bg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  #desktop-overlay svg {
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .object-outline {
    animation: pulse 5s ease-in-out infinite;
  }

  .profile-container {
    width: 33vw;
  }

  .profile-scroll-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 100;
    padding: 0;
    box-sizing: border-box;
  }

  .profile-image {
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}
