.beuty-icons-intervies-container {
  width: 100vw;
  position: relative;
  /* backdrop-filter: blur(3px); */
}

.beauty-icons-bg {
  height: 300vh;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  z-index: -5;
}

.beauty-icons-content-container {
  position: relative;
  /* height: 300vh; */
  width: 100%;
  top: 0;
  overflow-y: scroll;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 150px 20px;
  backdrop-filter: blur(3px) brightness(80%);
}

.beauty-icons-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.beauty-icons-section:last-child {
  justify-content: center;
}

.beauty-icons-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-container {
  text-align: center;
}

#icons-pfp-0 {
  height: 105px;
  width: 105px;
}

.beauty-icons-pfp {
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
  border-radius: 50%;
  opacity: 0;
  object-fit: cover;
  object-position: center;
  border: solid 1px #fff;
  transition: transform 0.2s;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}


@media (min-width: 1000px) {
  .beauty-icons-content-container {
    padding: 150px 100px 0;
  }

  .beauty-icons-item {
    width: 33%;
  }

  .beauty-icons-section:not(:first-child) img {
    margin-bottom: 50px;
  }

  #icons-pfp-0 {
    height: 250px;
    width: 250px;
  }

  .beauty-icons-pfp {
    height: 165px;
    width: 165px;
  }

  .beauty-icons-pfp:hover {
    cursor: pointer;
    /* transform: scale(2); */
  }
}
