.test-container {
  height: 100%;
  width: 100%;
  top: 0;
  /* overflow-x: auto; */
  overflow-y: scroll;
  z-index: 100;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.test-container h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

.featured-paragraph-text {
  font-size: 1.5rem !important;
}

#test-container-background {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.featured-scroll-container {
  z-index: 10;
  width: 100%;
  height: 400vh;
  backdrop-filter: blur(3px);
  /* position: absolute;
  top: 0%;
  left: 0; */
}

.featured-title-section {
  z-index: 10;
  /* position: absolute; */
  /* top: 0; */
  display: flex;
  min-width: 90%;
  min-height: 100vh;
  padding: 0 100px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
}

.featured-title-section h1 {
  width: 40%;
  text-align: left;
  font-weight: 700;
  font-size: 2.5rem;
}

.featured-profile-image {
  height: 400px;
  width: 50%;
  object-fit: cover;
  object-position: center;
}

.mags {
  /* height: 80vh; */
  width: fit-content;
  padding: 50px 100px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  pointer-events: none;
  /* box-sizing: border-box; */
}

.horizontal-scroll-item {
  height: 500px;
  min-width: 400px;
  border: solid 2px #fff;
  margin-right: 100px;
  flex-shrink: 0;
}

.next-section {
  min-height: 100vh;
  width: 100vw;
  padding: 100px;
  box-sizing: border-box;
}


/* test only */


body {
  margin:0;
  /* background:#15151e; */
  overflow-x:hidden;
}

/* .racesWrapper {
  position: absolute;
  top: 10%;
} */

.races {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 100px;
}

.races h2 {
  font-family: 'Staatliches', cursive;
  font-size: 30vw;
  flex-shrink:0;
  padding-right:0.3em;
  padding-left:0.3em;
  color:#e10600;
  margin:0;
}

.races h3 {
  width: 40vw;
  flex-shrink: 0;
  margin-right: 5vw;
  font-size: 1.5rem;
  /* padding-right:0.3em;
  padding-left:0.3em; */
  /* margin: 0; */
}

.grow-line-1 {
  width: 20px;
  height: 1px;
  background-color: #fff;
  margin-right: 5vw;
}

.races img {
  width: 35vw;
  height: 80vh;
  flex-shrink: 0;
  margin-right: 2vw;
  padding-right:0.3em;
  padding-left:0.3em;
}

.races h2:last-of-type {
  background: #e1e1ff;
}
