body {
  margin: 0;
  overflow-x: hidden;
}

#spring-container-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 300vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

.featured-scroll-container {
  width: 100%;
  height: 400vh;
  backdrop-filter: blur(3px);
}

.featured-title-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.featured-profile-image {
  height: 65%;
  width: 80%;
  margin-bottom: 10px;
}

#title-box {
  width: 80%;
}

.strong-title {
  font-family: 'Playfair';
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 10px;
}

.title-subline {
  font-size: 1.25rem;
}

.mag-covers {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 100px;
}

.mag-covers h3 {
  width: 40vw;
  flex-shrink: 0;
  margin-right: 5vw;
  font-size: 1.5rem;
  font-weight: 300;
}

.drop-cap {
  font-size: 2rem;
  font-weight: 600;
  background-color: rgba(255, 0, 0, 0.39);
}

.grow-line-1 {
  width: 20px;
  height: 1px;
  background-color: #fff;
  margin-right: 5vw;
}

.mag-covers img {
  width: 35vw;
  height: 80vh;
  flex-shrink: 0;
  margin-right: 2vw;
  padding-right:0.3em;
  padding-left:0.3em;
}

.mag-covers h2:last-of-type {
  background: #e1e1ff;
}


.text-section {
  padding: 20px;
  min-width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
}

.text-section div {
  width: 100%;
}

.later-text {
  /* height: 50vh; */
  width: 100vw;
  padding: 50px 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.later-text h1, .text-section h1 {
  font-size: 1.5rem;
}

.text-section h1 {
  margin-bottom: 20px;
  opacity: 1;
}

.featured-paragraph-text {
  opacity: 1;
  font-size: 1.25rem !important;
}

#section-1, #section-2, #section-3, #section-4, #section-5, #section-6, #section-7, #section-8, #section-9 {
  margin-bottom: 20px;
}

#section-2 img {
  height: auto;
  width: 40%;
  object-fit: cover;
  object-position: center;
}

.alex-scroll-test {
  display: none;
  height: 200vh;
  width: 100vw;
}

.interactive-image-caption {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
}

.interactive-image-caption p {
  font-family: 'Playfair' !important;
}

#caption-1 {
  position: absolute;
  top: 40%;
  right: 15%;
  opacity: 0;
  width: 400px;
}

#image-section-1 {
  height: 100vh;
  width: 100vw;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

#mary-greenwell-image {
  height: 450px;
  width: 500px;
  object-fit: cover;
  object-position: center;
  transform: translateX(-500px);
}

#caption-2 {
  width: 40%;
  transform: translateX(100%);
}

.mary-greenwell-line {
  height: 1px;
  width: 100px;
  background-color: #fff;
}

.column-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 600vh; /* enough scroll space */
  position: relative;
  /* background-color: rgba(0, 0, 255, 0.605); */
}

.image-column {
  width: 30%;
  height: 80vh;
  border-left: 1px solid #fff;
  padding: 0 20px;
  box-sizing: border-box;
  transform: translateY(100%);
}

.image-column-child {
  width: 100%;
  height: 300px;
}

#text-block-1, #text-block-2 {
  margin-bottom: 100px;
}

#image-item-2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.lipstick-container {
  display: none;
  width: 50vw;
  position: absolute;
  right: -10%;
}

.second-image-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.second-image-container img {
  height: 500px;
  width: 100%;
  margin-bottom: 10px;
}

.second-image-container p {
  font-family: 'Playfair';
}

.buffer-div, .buffer-div-2, .buffer-div-3 {
  display: none;
}

.lipstick-canvas {
  width: 100%;
  /* transform: translateY(100%); */
  /* position: relative; */
  /* width: 50px; */
  /* background-color: rgba(255, 0, 0, 0.6); */
}

.pin-container {
  padding: 20px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.alessandra-intro-text h2 {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.alessandra-intro-text p {
  font-size: 1.25rem;
}

.alessandra-intro-text {
  width: 100%;
}

.another-div {
  height: 500vh;
  width: 100vw;
}

.canvas-pointer-line {
  height: 20px;
  width: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 15%;
  left: 40%;
  transform-origin: bottom;
  opacity: 0;
}

.model-caption {
  position: absolute;
  left: 22%;
  bottom: -2%;
  width: 300px;
  font-size: 1.15rem;
  font-family: 'Playfair';
  opacity: 0;
}

.glamour-mag-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  /* margin-bottom: 100vh; */
}

.glamour-mag-image {
  height: 95%;
  width: 40%;
  object-fit: cover;
  object-position: center;
  /* transform: translateX(-100%); */
}

.glamour-line {
  height: 1px;
  width: 100px;
  background-color: #fff;
}

.glamour-caption {
  width: 40%;
  font-size: 1.25rem;

  p {
    font-family: 'Playfair';
  }
}

@media (min-width: 1000px) {

  .featured-title-section {
    display: flex;
    flex-direction: row;
    min-width: 90%;
    min-height: 100vh;
    padding: 0 100px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    box-sizing: border-box;
    position: relative;
  }

  .featured-profile-image {
    height: 700px;
    width: 50%;
    object-fit: cover;
    object-position: center;
  }

  #title-box {
    width: 40%;
  }

  .strong-title {
    font-family: 'Playfair';
    font-weight: 300;
    font-size: 4rem;
  }

  .title-subline {
    font-size: 2rem;
  }

  .lipstick-container {
    display: block;
    width: 50vw;
    position: absolute;
    right: -10%;
  }

  .alessandra-intro {
    height: 200vh;
  }

  .alessandra-intro {
    height: 200vh;
  }

  .alessandra-intro-text h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }

  .alessandra-intro-text p {
    font-size: 1.25rem;
  }

  .alessandra-intro-text {
    width: 50%;
  }

  .pin-container {
    height: 100vh;
    width: 100vw;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .alex-scroll-test {
    display: block;
    height: 200vh;
    width: 100vw;
  }

  .text-section {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    padding: 0 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
  }

  .text-section div {
    width: 50%;
  }

  #section-1, #section-2, #section-3, #section-4 {
    margin-bottom: 60vh;
  }

  #section-5 {
    margin-bottom: 80vh;
  }

  .second-image-container {
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .second-image-container img {
    height: 500px;
    width: 350px;
    margin-bottom: 10px;
  }

  .second-image-container p {
    font-family: 'Playfair';
    width: 500px;
  }

  .buffer-div {
    height: 50vh;
    width: 50vw;
  }

  .buffer-div-2, .buffer-div-3 {
    height: 50vh;
    width: 100vw;
  }

  #section-6, #section-7, #section-8, #section-9 {
    align-items: start !important;
    margin-bottom: 80vh !important;
  }
}
