#beauty-title {
  /* color: #ffeadb; */
  font-size: 5rem;
  font-weight: 300;
}

#beauty-subtitle {
  /* color: #ffeadb; */
  font-size: 2rem;
  font-weight: 300;
}

@media (max-width: 800px) {
  #beauty-icons-title-container {
    top: 10%;
  }

  #beauty-title {
    font-size: 4rem;
  }

  #beauty-icons-subtitle-container {
    top: 28%;
  }
}
